@font-face {
font-family: 'Coconat'; 
src: url('https://github.com/Vergo-18/CoconatSoma/blob/27319e59bd301675ccf51b80754f2644e2aaf7ec/Coconat-Regular.woff2') format('woff2'); 
font-weight: normal; 
font-style: normal;
}